*{
    text-decoration: none;
}

/* 广告头 */
.g_wrad{
    background-color: #0067b8;
    height: 60px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #fff;
}
.g_wrad span{
    display: inline-block;
    height: 100%;
}
.g_wrad a{
    display: block;
    height: 30px;

    text-decoration: underline;
    color: #fff;
}



/* 导航 */




.g_nav{
    height: 50px;
    background-color: #f5f5f5;
}

.g_nav .logo{
    width: 125px;
    height: 25px;
    margin:12.25px 50px 0 0; 
}
.g_nav  .m_iconBtn .login{
    text-decoration: none;
    color: #666;
}
.g_center{
    padding: 0 30px; 
}
.help{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #666;
}
.m_iconBtn{
    position: relative;
    margin-top: 11.5px;
}
input{
    position: absolute;
    left: -381px;
    width: 344px;
    height: 30px;
    padding: 0 5px;
}
.m_iconBtn span{
    display: inline-block;
    height:20px;
    line-height: 30px;
    font-size: 15px;
    color: #000;
}
.search{
    position: absolute;
    right: 80px;
}
.shopcar{
     padding-right: 20px;
}
.m_login,.person{
    display: inline-block;
} 




/* header */



header {
    position: relative;
    padding:0 0 0 20px;
    border-top:1px solid #f5f5f5;
    border-bottom:1px solid #e5dfdf;
    line-height: 50px;
}

.list{
    background-color: #fff;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}
.list .g_ul li{
   height: 50px;
   line-height: 50px;
}
.list .g_ul li:active{
    background-color:#c3e3fb;
}
.list .g_ul li a{
    padding: 0 30px;
    color: #0067b8;
    text-decoration: none;
}
.jiao{
    margin-right: 13px;
    color: #0067b8;
}
.text{
    text-decoration: none;
    color: #0067b8;
}
header i{
    position: relative;
    border-bottom:#fff 1px solid;
    bottom: -1px; 
    border-top: 1px solid #e5dfdf;
    border-left: 1px solid #e5dfdf;
    text-align: center;
    width: 50px;
    height:50px;
}
header .fenlei{
    font-size: 25px;
    color: #0067b8;
}   
.m_ul{
    display: block;
}
.m_ul li{
    padding-left:50px; 
}
.dingdan a{
    font-size: 12.5px;
    text-decoration: none;
    color: #0067b8;
    padding-left: 30px;
}
.dingdan .tui{
    color: #666;
}




/* 轮播图 */

.lunbotu{
    width:320px;
    overflow: hidden;
    margin: 0 auto;
}
.slider img{
    width: 320px;
}
.slider{
    position: relative;
    width: 600%;
    font-size: 0;
}
.slider li{
    display: inline-block;
}

/* 两张图片拼成一张 */

.listen{
    margin-top: 14px;
    width: 100%;

}
.listen .cont{
    font-size: 0;
}
.listen .imgleft{
    width:100%;
    height: 145px;
}
.listen .imgright{
    width:100%;
    height: 145px
    
}





/* 文字  图片 各自一侧 */




.more{
    width: 1180px;
    margin: 15px auto;
}

.slider-l{
    background-color: #0067b8;
}
.slider-l li a{
    text-decoration: underline;
}
.slider-r{
    width: 880px;
}
.slider-r ul{
    font-size: 0;
    display: flex;
    flex-direction: row;
}

.slider-r ul li{
    flex: 1;
    display: inline-block;
}
.slider-r ul li:nth-child(2){
    margin: 0 10px;
}
.slider-r ul li p{
    color: #000;
    height:90px;
}
.slider-r ul li span{
    color: #0067b8;
    font-size: 16px
}
.slider-r ul li img{
    width: 100%;
}





/* 店长推荐 */
h1{
    height: 80px;
    line-height: 80px;
    font-size:30px;
    border-bottom: 1px solid #000; 
}
.sliderList{
    margin: 75px 0;
    font-size: 0;
}
.container{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}
.container-list{
    width: 100%;
}
.container-list ul{
    width: 100%;
}
.container-list ul li{
    display: inline-block;
    width: 20%;
}
.container-list ul li h4{
    font-size: 14px;
    color: #333;
    padding-top: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.container-list ul li p{
    font-size: 13px;
    line-height: 30px;
    color: #666;
    padding-bottom: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-list ul li span{
    font-size: 13px;
    color: #da3b01;
} 
.container-list ul li span strong{
    font-size: 18px;
    font-weight: bold;
}



/* <!-- 相同的item --> */
.maincontainer{
    width: 100%;
    font-size: 0;
}
.maincontainer .maincont{
    width: 100%;
    margin: 20px auto;
}
.maincontainer ul{
    margin-top: 15px;
}
.maincontainer .maincont ul li{
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid #eeeeee;
    background-position: center; 
}
.maincontainer .maincont ul li h3{
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.maincontainer .maincont ul li p{
    padding: 10px 0 30px 20px;
    font-size: 14px;
    color: #666666;
    overflow: hidden;
}
.maincontainer .maincont ul li span{
    position: absolute;
    display: block;
    padding-left: 20px;
    bottom: 30px;
    font-size: 14px;
    color: #da3b01;
}
.maincontainer .maincont ul li strong{
    font-size: 18px;
}
.maincontainer .maincont ul li .new{
    display: block;
    width: 57px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e71224;
    color: #fff;
    text-align: center;
    padding-left: 0;
    font-size: 15px;
    line-height: 34px;
}
.maincontainer ul .special{
    vertical-align: top;
    background-image: url(https://imgazure.microsoftstore.com.cn/medias/HomePage2017SurfaceGuide-Media?context=bWFzdGVyfGltYWdlc3w0MTEyOXxpbWFnZS9wbmd8aW1hZ2VzL2gxMy9oOTgvOTk3OTI5MTA0MTgyMi5wbmd8MWQzNmI5ZDY1Yzg5NThmYWJiMWY1NjQxYWY3NGJjNmEzYzBmMzNjOWRiOWNiNWZkMWY4MTAwY2RhYjYyYzE5NA);
    height: 346.19px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
html .maincontainer ul .special p{
    font-size: 18px;
    color: #333;
}

.maincontainer ul .special a{
    font-size: 14px;
    color: #666;
    padding-left: 20px;
    text-decoration: underline;
}



footer img{
    width: 100%;
}

















html .maincontainer ul  .office{
    background-image: url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017OfficeGuide-Media?context=bWFzdGVyfGltYWdlc3wzMDU5NXxpbWFnZS9wbmd8aW1hZ2VzL2hjNC9oYTQvOTk3OTI5MTA3NDU5MC5wbmd8NmZjZmJiNDc4YmJiMWMyNjZhZDVlYzU2NjViNjhlOWQyZmM3YWFkZWI0MTY5MTQ0NWNhNTdiMzdhYWI2M2NiNA');
}
html .maincontainer ul  .computer{
    background-image: url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017XboxGuide-Media?context=bWFzdGVyfGltYWdlc3w2NDEwOHxpbWFnZS9wbmd8aW1hZ2VzL2hmOC9oYjYvOTk3OTI5MTEwNzM1OC5wbmd8MjMyOWRiNDVlMzQ4ZGNhNDM0ODFlMzUzNjU1ZTBjYzM2ZDQwNmQ5MDQyMjk3NWU2MGY5ZjI0MjBmMjM2ZDFkMg');
}
html .maincontainer ul  .Xbox{
    background-image: url('https://imgazure.microsoftstore.com.cn/medias/HomePage2017ComputerGuide-Media?context=bWFzdGVyfGltYWdlc3w0NDY4MHxpbWFnZS9wbmd8aW1hZ2VzL2hiZC9oY2MvOTk3OTI5MTE0MDEyNi5wbmd8MWUxOGQzMTkyNTE1MGM3Zjg1YjE4ZGFhNTVmMzYyN2Q4OTJmMDdjNjU2ZGEzZWI4MDdiZTAzMDMzYmQzNWQ2Zg')
}
































































/* 公用样式 */
html .pcshow{
    display: none;
}
html .pchide{
    display: inline-block;
}